<div class="flex-center-column">
  <div class="flex-center-row">
    <div class="flex-center-column">
      <div *ngIf="game.result.status && !selectedPlayer">
        {{'END_GAME.blueTeamWin' | translate}}
        <mat-form-field>
          <mat-label>{{'END_GAME.selectLabel' | translate}}</mat-label>
          <mat-select (selectionChange)="select($event)" name="player" [value]="">
            <mat-option *ngFor="let player of bluePlayers" [value]="player">
              {{player.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="!game.result.status && !selectedPlayer">
        <p>{{'END_GAME.redTeamWin' | translate}}</p>
        <button mat-raised-button routerLink="/">{{'END_GAME.playAgain' | translate}}</button>
      </div>

      <div *ngIf="selectedPlayer">
        <div *ngIf="!playerRole(game.result.guess_merlin_id)"></div>
        <div *ngIf="playerRole(game.result.guess_merlin_id) === 'merlin'">
          {{'END_GAME.redTeamWinVote' | translate}}
        </div>
        <div *ngIf="playerRole(game.result.guess_merlin_id) !== 'merlin'">
          {{'END_GAME.blueTeamWinVote' | translate}}
        </div>
        <button mat-raised-button color="primary" routerLink="/">{{'END_GAME.playAgain' | translate}}</button>
      </div>
    </div>
  </div>
</div>
