<div *ngIf="clear && game && !game.result && !globalLoading" class="board">

  <div class="quests">
    <div *ngFor="let item of game.quests; let i = index" class="quest">
      <div class="title">{{'GAME.questTitle' | translate}}{{i + 1}}</div>
      <div
        matRipple
        [matRippleDisabled]="i > game.current_quest"
        [matTooltip]="getQuestTooltip(i)"
        (click)="questClick(i)"
        [ngClass]="{'circle': true,
        'current-round': i === game.current_quest,
        'fail-circle': questFailed(i),
        'success-circle': questSucceed(i),
        'clickable': i <= game.current_quest
        }">
        <div class="content">{{item.nb_players_to_send}}</div>
      </div>
      <div *ngIf="item.nb_votes_to_fail > 1" class="fail">
        {{item.nb_votes_to_fail}} {{'GAME.questRequired' | translate}}
      </div>
    </div>

  </div>

  <div class="board-middle mat-h3" [style.margin-top.px]="18">
    {{'GAME.currentTurn' | translate: {value: currentPlayer.name} }}

    <div>{{'GAME.voteSucceed' | translate}}
      <button color="primary" mat-raised-button [disabled]="game.loadingSend" (click)="openPlayerDialog()">
        <mat-spinner *ngIf="game.loadingSend" diameter="24" class="spinner-container"></mat-spinner>
        {{'GAME.pickPlayer' | translate}}
      </button>

    </div>
    <div>{{'GAME.voteFailed' | translate}}
      <button mat-raised-button color="warn" [disabled]="game.nb_quest_unsend === 5 || game.loadingUnsend"
              (click)="nextTurn()">
        <mat-spinner *ngIf="game.loadingUnsend" diameter="24" class="spinner-container"></mat-spinner>
        {{'GAME.nextTurn' | translate}}
      </button>
    </div>
  </div>

  <div class="vote-track">
    <div *ngFor="let item of voteNumber; let i = index; let last = last">
      <div [ngClass]="{'small-circle': true, 'last': last, 'current-fail': i + 1 === game.nb_quest_unsend}">
        <div class="small-content">{{i + 1}}</div>
      </div>
    </div>
  </div>

  <button mat-raised-button class="role-button"
          (click)="openRoleDialog()">{{'GAME.roleButtonLabel' | translate}}</button>
</div>

<div *ngIf="!!game && !!game.result">
  <app-end-game></app-end-game>
</div>

<div *ngIf="clear && globalLoading" class="global-spinner">
  <mat-spinner></mat-spinner>
</div>
