<div *ngIf="clear" class="board">

  <div class="missions">
    <div *ngFor="let item of boardGame; let i = index" class="mission">
      <div class="title">quest n°{{i + 1}}</div>
      <div class="circle">
        <div class="content">{{item.mission}}</div>
      </div>
      <div class="fail">
        {{item.fail}} fail(s) required
      </div>
    </div>

  </div>

  <div class="vote-track">
    <div *ngFor="let item of voteNumber; let i = index; let last = last">
      <div [ngClass]="{'circle': true, 'last': last}">
        <div class="content">{{i + 1}}</div>
      </div>
    </div>
  </div>
</div>
