<div class="flex-center-column">
  <div class="flex-center-row">
    <div class="flex-center-column">
      <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!loading">
        <mat-form-field>
          <mat-label>{{"DASHBOARD.selectLabel" | translate}}</mat-label>
          <mat-select formControlName="nbPlayers" [(ngModel)]="numberChoosed">
            <mat-option
              *ngFor="let numberPlayer of createArray(maxNumberPlayer-minNumberPlayer +1); let i = index"
              [value]="minNumberPlayer + i">{{minNumberPlayer + i}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div formArrayName="players" *ngFor="let order of playersForm.controls; let i = index">
          <mat-form-field appearance="fill">
            <input matInput [value]="order.value" [formControlName]="i" maxlength="20" minlength="1" required
                   type="text">
          </mat-form-field>
        </div>
        <div *ngIf="isNameTooLongOrTooShort">{{"DASHBOARD.invalidFormWarning" | translate}}</div>
        <div *ngIf="!isNameUnique">{{"DASHBOARD.invalidUniqueNameFormWarning" | translate}}</div>
        <div class="flex-center-column">
          <button mat-raised-button color="primary"
                  [disabled]="form.invalid">{{"DASHBOARD.selectCharactersButtonLabel" | translate }}</button>
        </div>
      </form>
      <div *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
</div>
