<div class="flex-center-column" (dblclick)="open()">
  <div class="flex-center-row">
    <div class="flex-center-column">
      <div *ngIf="!clicked" class="mat-h1">
        <p class="noselect">
          {{ 'ROLE_TURN.title' | translate: {value: state.name} }}
        </p>
        <p class="noselect">
          {{ 'ROLE_TURN.description' | translate: {value: state.name} }}
        </p>
      </div>
      <div *ngIf="clicked" class="mat-h1">
        <p class="noselect">
          {{ 'ROLE_TURN.player' | translate: {value: state.name} }}
        </p>
        <p class="noselect">
          {{ 'ROLE_TURN.titleRevealed' | translate: {value: ('ROLE_TURN.' + state.team  | translate) } }}
        </p>
        <p class="noselect" *ngIf="state.role !== 'blue' && state.role !== 'red'">
          {{ 'ROLE_TURN.descriptionRevealed' | translate: {value: getRole(state.role)} }}
        </p>
        <p class="noselect" *ngIf="state.role === 'blue'">
          {{ 'ROLE_TURN.descriptionRevealedBlue' | translate }}
        </p>
        <p class="noselect" *ngIf="state.role === 'red'">
          {{ 'ROLE_TURN.descriptionRevealedRed' | translate }}
        </p>
        <p class="noselect">
          {{ 'ROLE_TURN.hideRole' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
