<div class="flex-center-column" (click)="open()">
  <div class="flex-center-row">
    <div class="flex-center-column">
      <div class="mat-h1">
        <p>
          {{ 'ROLE_TURN.title' | translate: {value: state.name} }}
        </p>
        <p>
          {{ 'ROLE_TURN.description' | translate: {value: state.name} }}
        </p>
      </div>
      <div *ngIf="clicked" class="mat-h1">
        <p>
          {{ 'ROLE_TURN.titleRevealed' | translate: {value: state.team} }}
        </p>
        <p>
          {{ 'ROLE_TURN.descriptionRevealed' | translate: {value: state.role} }}
        </p>
      </div>
    </div>
  </div>
</div>
