<div class="flex-center-column bcg-color" *ngIf="!!quest && votes.length > 0" (click)="endTurn()">
  <div class="flex-center-row">
    <div class="flex-center-column">
      <div>
        <mat-chip-list class="row">
          <div class="title mat-body">
            {{'END_TURN.playersTitle' | translate }}
          </div>
          <mat-chip [disableRipple]="true" class="player white" *ngFor="let voter of voterPlayers">
            {{voter.name}}
          </mat-chip>
        </mat-chip-list>

        <mat-chip-list class="row">
          <div class="title mat-body">
            {{'END_TURN.votesTitle' | translate }}
          </div>
          <mat-chip [disableRipple]="true" class="vote" *ngFor="let vote of votes" [ngClass]="vote ? 'blue': 'red'">
            {{vote ? ('END_TURN.success' | translate) : ('END_TURN.fail' | translate) }}
          </mat-chip>
        </mat-chip-list>

        <mat-chip-list class="row">
          <div class="title mat-body">
            {{'END_TURN.resultTitle' | translate }}
          </div>
          <mat-chip [disableRipple]="true" class="chip-result" [ngClass]="quest.status ? 'blue': 'red'">
            {{quest.status ? ('END_TURN.success' | translate) : ('END_TURN.fail' | translate) }}
          </mat-chip>
        </mat-chip-list>
      </div>

    </div>
  </div>
</div>
