<div>
  What roles do you want to add ?
</div>
<div>
  Number of red roles allowed: {{allowed.red}}
</div>
<div>
  Number of blue roles allowed: {{allowed.blue}}
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div formArrayName="roles" *ngFor="let order of rolesForm.controls; let i = index">
    <label>
      <input type="checkbox" [formControlName]="i">
      {{roles[i].description}}
    </label>
  </div>
  <div *ngIf="!form.valid">You have exceeded the red or blue players limit</div>
  <div>
    <button [disabled]="form.invalid">Start the game !</button>
  </div>
</form>
