<div class="flex-center-column">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="top-section">
      <div class="breadcrumb">
        <div class="circle-breadcrumb"></div>
        <div class="circle-breadcrumb filled-breadcrumb"></div>
        <div class="circle-breadcrumb"></div>
        <div class="circle-breadcrumb"></div>
      </div>
      <div class="title">
        {{'ROLES.title' | translate}}
      </div>

      <div class="description">
        {{'ROLES.description' | translate: {redNumber: allowed.red, blueNumber: allowed.blue} }}
      </div>
    </div>
    <div class="scrollbar">
      <div class="card-container">

        <div class="card" formArrayName="roles" *ngFor="let order of rolesForm.controls; let i = index">
          <mat-checkbox class="card-checkbox" [formControlName]="i">
          </mat-checkbox>
          <div class="card-title">
            {{roles[i].descriptionKey | translate}}
          </div>
          <div class="card-img-container">
            <div *ngFor="let character of roles[i].characters">
              <img class="card-img" [src]="character.asset">
            </div>
          </div>
          <div class="card-description-container">
            <div *ngFor="let character of roles[i].characters" [ngClass]="roles[i].characters.length > 1 ? 'card-half-description' : 'card-description'">
              {{character.description | translate}}
            </div>
          </div>
        </div>
        <div *ngIf="!form.valid">{{'ROLES.invalidFormWarning' | translate}}</div>

      </div>
    </div>
    <div class="flex-center-column button-container">
      <button mat-raised-button (click)="goBack()">{{"ROLES.back" | translate }}</button>
      <mat-spinner *ngIf="loading" diameter="24" class="spinner-container"></mat-spinner>
      <button mat-raised-button color="primary"
              [disabled]="form.invalid || loading">{{'ROLES.next' | translate}}</button>
    </div>
  </form>
</div>
