.chips {
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.button-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.mat-chip {
  text-align: center;
  display: inline;
  min-width: 115px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.red {
  color: white;
  background-color: #ff0033;
}

.blue {
  color: white;
  background-color: #0D47A1;
}
