<div class="bcg">
  <img class="bcg-image" src="../../../assets/bcg/bcg-image.jpeg"/>

  <div class="flex-center-column landing-container">
    <div class="title">AVALON</div>
    <div class="button-container">
      <button mat-raised-button (click)="launchGame()">
        {{'LANDING.playButtonLabel' | translate}}
      </button>
      <button mat-raised-button (click)="launchGame()">
        {{'LANDING.rulesButtonLabel' | translate}}
      </button>
    </div>
  </div>

  <!-- Fireflies -->
  <div *ngFor="let firefly of fireflies" class="firefly">
  </div>
</div>
