<div class="bcg">

  <div class="firefly">
  </div>
  <div class="firefly">
  </div>
  <div class="firefly">
  </div>
  <div class="firefly">
  </div>
  <div class="firefly">
  </div>
  <div class="firefly">
  </div>
  <div class="firefly">
  </div>
  <div class="firefly">
  </div>
  <div class="firefly">
  </div>
  <div class="firefly">
  </div>
  <div class="firefly">
  </div>
  <div class="firefly">
  </div>
  <div class="firefly">
  </div>
  <div class="firefly">
  </div>
  <div class="firefly">
  </div>

  <div class="flex-center-column">
    <div class="flex-center-row">
      <div class="flex-center-column">
        <div class="mat-display-4 white">Avalon</div>
        <app-button (click)="launchGame()" text="Play"></app-button>
        <!-- <button mat-raised-button (click)="launchGame()">
          Play
        </button> -->
      </div>
    </div>
  </div>
</div>
