<div class="bcg">
  <img class="bcg-image" src="../../../assets/bcg/bcg-image.jpeg"/>
  <!-- Fireflies -->
  <div *ngFor="let firefly of fireflies" class="firefly">
  </div>

  <div class="flex-center-column">
    <div class="flex-center-row">
      <div class="flex-center-column">
        <div class="mat-display-4 white">Avalon</div>
        <button mat-raised-button (click)="launchGame()">
          {{'LANDING.playButtonLabel' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
