.center-loader {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top-section {
  display: flex;
  flex-direction: column;
}

.breadcrumb {
  justify-content: center;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  @media only screen and (min-height: 650px) {
    margin-top: 40px;
  }

  @media only screen and (min-width: 800px) {
    margin-top: 60px;
  }
}

.circle-breadcrumb {
  box-sizing: border-box;
  height: 8px;
  width: 8px;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin: 4px;
}

.filled-breadcrumb {
  background-color: #000000;
}

.title {
  color: #000000;
  font-family: "Spectral Medium";
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 8px;
}

.description {
  color: #000000;
  font-family: "Spectral Medium";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.reveal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reveal-button {
  width: 240px !important;
  flex-grow: 0 !important;
}

/** Carousel **/
.carousel-container {
  position: relative;
}

.carousel {
  overflow: hidden;
  height: 100%;
  width: 360px;
  display: flex;
  @media only screen and (min-width: 800px) {
    width: 600px;
  }
}

.arrow-left {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  margin-left: 5px;
  @media only screen and (min-width: 800px) {
    margin-left: -60px;
  }
}

.arrow-right {
  position: absolute;
  right: 0;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5px;
  @media only screen and (min-width: 800px) {
    margin-right: -60px;
  }
}

.cards-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.cards {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  display: flex;
  width: 100%;
}

.card-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-content.previous {
  display: none;
}

.card-content.next {
  display: none;
}

.card {
  /*  user-select: none;
    cursor: grab;*/
  cursor: pointer;
  float: left;
  flex-shrink: 0;
  box-sizing: border-box;
  align-self: center;
  height: 281px;
  width: 180px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 2px;
  background-color: #FFFFFF;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.card.previous {
  border-right: unset;
  opacity: .3;
  width: 60px !important;
  padding: 0px;
  @media only screen and (min-width: 800px) {
    width: 180px !important;
    padding: 16px;
  }
}

.card.next {
  border-left: unset;
  opacity: .3;
  width: 60px !important;
  padding: 0px;
  @media only screen and (min-width: 800px) {
    width: 180px !important;
    padding: 16px;
  }
}

.card.selected {
  z-index: 3;
  height: 336px;
  width: 240px;
}

.button-container {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  align-items: center;
  background-color: #EBEBEB;
  justify-content: center;
  flex-direction: row;
  height: 60px;
  @media screen and (min-width: 800px), screen and (min-height: 650px) {
    height: 80px;
  }
}

.mat-button-base:not([mat-icon-button]) {
  margin: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  @media only screen and (min-width: 800px) {
    flex-grow: 0;
    width: 160px;
  }
}

// Avatar

.player-avatar {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  margin-right: 7.5px;
  border-radius: 50%;
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  border: 1px solid #000000;
}

.player-avatar.previous {
  height: 68px;
  width: 68px;
}

.player-avatar.next {
  height: 68px;
  width: 68px;
}

.player-name {
  font-family: "Spectral Light";
  font-size: 16px;
  margin-top: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.player-desc {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  transition: margin 0.3s ease-in-out;
  -webkit-transition: margin 0.3s ease-in-out;
  margin-top: 52px;
  display: flex;
  flex-direction: column;
}

.player-desc.reveal {
  -webkit-filter: unset;
  -moz-filter: unset;
  -o-filter: unset;
  -ms-filter: unset;
  filter: unset;
}

.player-desc.next {
  margin-top: 32px;
}

.player-desc.previous {
  margin-top: 32px;
}

.player-team {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Spectral Light";
  font-size: 16px;
  font-weight: 300;
}

.player-team.previous {
  margin-top: 8px;
  font-size: 14px;
}

.player-team.next {
  margin-top: 8px;
  font-size: 14px;
}

.player-role {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  align-items: center;
  font-family: "Spectral Light";
  font-size: 16px;
  font-weight: 300;
}

.player-role.previous {
  margin-top: 8px;
  font-size: 14px;
}

.player-role.next {
  margin-top: 8px;
  font-size: 14px;
}

.player-icon {
  flex-shrink: 0;
  flex-grow: 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  height: 40px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  margin-right: 16px;
  border-radius: 40px;
  border: 1px solid #000000;
}

.player-icon.previous {
  height: 34px;
  width: 34px;
  margin-right: 12px;
}

.player-icon.next {
  height: 34px;
  width: 34px;
  margin-right: 12px;
}

.blue-team-icon {
  color: #00BBF4;
}

.red-team-icon {
  color: #F13F4C;
}
