/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
}

app-root {
  display: flex;
  flex-grow: 1;
}

.component-container {
  display: flex;
  flex-grow: 1;
}

// flex grid
.flex-center-column {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.flex-center-row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
}

.dynamic-turns {
  position: absolute;
  height: 100%;
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

.mat-tooltip {
  margin: 12px !important;
  font-size: 12px !important;
}

.bcg-color {
  background-color: #F1D4AB;
}

@font-face {
  font-family: 'Spectral SemiBold';
  src: url('assets/fonts/Spectral-SemiBold.ttf') format('truetype') /* For Chrome and Safari */
}

@font-face {
  font-family: 'Spectral Medium';
  src: url('assets/fonts/Spectral-Medium.ttf') format('truetype') /* For Chrome and Safari */
}

@font-face {
  font-family: 'Spectral Light';
  src: url('assets/fonts/Spectral-Light.ttf') format('truetype') /* For Chrome and Safari */
}

// TOGGLE
.mat-button-toggle-button {
  box-sizing: border-box !important;
  height: 32px !important;
  width: 32px !important;
  border: 1px solid #000000 !important;
  border-radius: 2px !important;
  background-color: #FFFFFF !important;
  color: #000000 !important;
  font-family: "Spectral Medium" !important;
  font-size: 14px !important;
  letter-spacing: 1.5px !important;
  line-height: 21px !important;
  text-align: center !important;

  @media only screen and (min-height: 650px) {
    height: 48px !important;
    width: 48px !important;
  }
}

.mat-button-toggle-checked {
  .mat-button-toggle-button {
    background-color: #000000 !important;
    color: #FFFFFF !important;
  }
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
  border: unset !important;
}

.mat-button-toggle-checked .mat-button-toggle-focus-overlay {
  border-bottom: 0px !important;
}

.mat-button-toggle-label-content {
  line-height: unset !important;
  padding: 0px !important;
}

// FORM FIELD
.mat-form-field-infix {
  width: 100% !important;
  padding: 0 !important;
}


// BUTTON
.mat-button-base:not([mat-icon-button]) {
  height: 36px !important;
  color: black !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  border: 1px solid #000000 !important;
  border-radius: 2px !important;
  background-color: #FFFFFF !important;
  letter-spacing: 1.5px !important;
  line-height: 21px !important;
  text-align: center !important;
  font-family: "Spectral Medium" !important;

  @media screen and (min-width: 800px), screen and (min-height: 650px) {
    height: 48px !important;
  }
}

.mat-button-disabled:not([mat-icon-button]) {
  border: 1px solid #C8C8C8 !important;
  color: #C8C8C8 !important;
}

// INPUT

input {
  box-sizing: border-box;
  height: 48px;
  width: 226px;
  border: 1px solid #000000;
  border-radius: 2px;
  background-color: #FFFFFF;
  outline: none;
  padding-left: 12px;
  letter-spacing: 0;
  line-height: 24px;
  color: #000000;
  font-family: "Spectral Light";
  font-size: 16px;
  font-weight: 300;
}

/**
 SPINNERS
 */
.listener .mat-progress-spinner {
  position: absolute;

  &.bcg-spinner circle {
    stroke: rgba(0, 0, 0, .05) !important;
  }

  &.progress-spinner circle {
    stroke: rgba(0, 0, 0, .3) !important;
  }
}
