<div class="flex-center-column">
  <div class="flex-center-row">
    <div class="flex-center-column">
      <div class="flex-center-column" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
      <div class="flex-center-column" *ngIf="!loading">
        <div class="mat-display-2">
          {{'AUDIO.title' | translate}}
        </div>
        <button mat-raised-button (click)="playAudio()">{{'AUDIO.startStoryButtonLabel' | translate}}</button>
        <button mat-raised-button (click)="stopAudio()">{{'AUDIO.stopStoryButtonLabel' | translate}}</button>
        <button mat-raised-button color="primary" (click)="playGame()">{{'AUDIO.startGameButtonLabel' | translate}}</button>
      </div>
    </div>
  </div>
</div>
